p{ color:#000000; line-height:1.2em; }
a{ color:#ff4901; font-weight:bold; }
a :hover{ color:#fe4901; }
img { border: 0 none; }

h1{ font-size:1.0em; color:#ff4901; background-color:#fcd996; text-align:center; }
h2{ font-size:10px; color:#666; text-align:left; margin-left:24px;  }
h3 { font-size: 16px; }
h3 a {  font-size:13px; padding:5px; color:#ff4901; text-decoration:none !important; border:1px solid; border-radius:5px; }
h3 a:hover{ background-color:#fcd996; border:1px solid; border-radius:5px; }

h4{ font-size:10px; color:#000000; margin-bottom:5px; }
h5{ font-size:2.0em; color:#FFFFFF; }
h6{ font-size:2.7em; color:#FFFFFF; }

.Right{ float:right; }
.Left{ float:left; }
.clear{ clear:both; }
.centrar{text-align:center; }

body { color:#fff; background-image:url('../img/fondo.jpg');  background-color:#666; font-family: arial; }

.margenes{ color:#666; width:100%; margin:auto; text-align:center; background-color:#FFFFFF; border-radius:0px 0px 2em 2em; }

.cabecera {  width:100%; margin:auto; text-align:center; background-color:#FFFFFF; color:#ff4901; border-radius:5em 5em 0px 0px; }
#tituloWeb{ font-family: 'Montaga', arial; font-size:2.0em; padding:20px; }
.web{ color:#efd46a; font-size:20px; text-align:right; display:none; }

.enlaces{ color:#fff; display:none; width:120px; float:right; border-radius:5px; padding:10px; text-align:right; font-size:12px; }
.enlaces a{ color:#fff; }
.enlaces a:hover { opacity:1; text-decoration:none; }

.nav{ text-align:center; font-size:12px; width:100%; margin:auto; margin-top:10px; margin-bottom:10px; }
.nav a{ color:#ff4901; opacity:1; text-decoration:none !important; }
.nav a:hover { color:#000; opacity:0.8; text-decoration:none; }
.nav ul { list-style-type:none; }
.nav li { display:block; border-radius:5px; border-style:dotted; border-width:1px; background-color:#fcd996; padding:5px; margin:5px; }

.menu{ display:none; color:#fcd996; text-align:center; float:left; width:170px; background-color:#FFFFFF; padding:5px; margin-bottom:10px; }

.texto{ margin:auto;background-color:#FFFFFF; width:100%;float:left; font-size:14px; }
.texto1 { text-align:justify; }
.textoIzq{ text-align:center; text-align:justify; padding:5px; }

.columnaDer{ display:none; text-align:right;width:140px;font-size:12px;float:right; }
.colIzq{ width:305px; margin:auto; display:block; }
.colDer{ width:305px; margin:auto; display:block; }

.pie{ font-size:12px; height:150px; width:90%; margin:auto; margin-top:10px; }
.pie a{ color:#fff; }
.pieLeft{ text-align:left; float:left; }
.pieRight{ text-align:right;float:right; }

.linea { background-color:#000; height:4px; }

.explicacion { font-size:12px; }
.explicacionG { font-weight:bold; font-size:14px; }
.ofertamovil{ text-align:center; width:600px; border:1px solid; }
.ofertadelmes{ line-height:30px; }

#barra_cookies{ text-align:center; display:none; position:fixed; right:10px; bottom:10px; width:250px; background:#000; color:#dddddd; z-index: 99999; padding:3px; opacity:0.9; } 
#barra_cookies a{ font-size:8px; } 
.barra{ font-family:verdana; font-size:10px; padding:5px; }
.barra a{ color:#fff; }
.informacion{ padding:5px; text-decoration:none; color:#ffffff; }
#aceptar{ background:#4682B4; text-decoration:none; color:#fff; padding:3px; }

.data{ text-align:right; color:#666; }
.titol a{ font-size:1.1em; }
.text{ width:100%; }
.text a{ color:#666; }
.noticias{ font-size:1.2em; color:#666; margin-top:30px; }

.post{ background-color:#fbfbfb; text-align:justify;font-size:12px; margin:10px; padding:10px; border-top-left-radius:2em; box-shadow: 0px 1px 0px 1px #666; }
.post:hover{ background-color:#f2f1f1; border-top-left-radius:2em;  }
.post a { text-decoration:none !important; }
.post a :hover { text-decoration:underline; }

.tablaPaginas td{ padding:20px; }

.companias { color:#666; }
.companias tr:hover{ background-color:#f2f1f1; }
.companias td{ padding:20px; }
.titolTabla { color:#000; }
.telefono { color:blue; }

.condiciones{ text-align:justify; font-family: arial; font-size:10px; padding:10px; }